* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: url(pexels-ninazey-14577621.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
